p {
    margin-bottom: 5px;
}
.form-box{
    display: flex;
    justify-content: center;
}
.register-form {
    margin-left: 30px;
}
.button {
    display: block;
    margin-left: 40%;
    margin-top: 12px;
    border-radius: 20px;
    background-color: #4cc3b5;
    color: #ffffff;
    border-color: #ffffff;
    border-bottom-style: ridge;
}
