.navbar{
    display: flex;
    justify-content: flex-end;
    
}
.link-box{
    margin-top: 4px;
    padding-right: 12px;
}
.button-logout{
    margin-top: 10px;
    margin-right: 6px;
    border-radius: 20px;
    background-color: #4cc3b5;
    color: #ffffff;
    border-color: #ffffff;
    border-bottom-style: ridge;
}