a{
  text-decoration: none;
  color: #ffffff;
}
.app {
 
  min-height: 640px;
  background-color: #358883 ;
  
 
}  
.button-div{
  text-align: center;
    margin-top: 30px;
}

.image{
  max-width: 100%;
  height: auto;
}

:root{
  --margin-main: 16px; 
}