@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
  margin: 0;
  color: #ffffff;
  font-family: 'Fredoka one';
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
